@page "/Carrera"


<PageTitle>Counter</PageTitle>

<h1>Carreras Impartidad en la Universidad Tecnológica del Caribe Oriental (UTECO)</h1>


<br />
 <br />
 <br />
<img src="dom-fou-YRMWVcdyhmI-unsplash.jpg" alt="Uteco biblioteca" width="300" height="200" />

<br />
<br />

<ol>
    <li>Facultad de Ingeniería y Tecnología</li>
    <li>Facultad de Ciencias de la Salud</li>
    <li>Facultad de Ciencias Empresariales</li>
    <li>Facultad de Ciencias Sociales y Humanidades</li>
    <li>Programas de Postgrado</li>


</ol>






