@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenidos a la Universidad Tecnológica del Caribe Oriental (UTECO)</h1>

<img src="Biblioteca-800x296 (1).png" alt="Uteco biblioteca" />

<br />
<h2>Hola futuros líderes del mañana!</h2>

<p>Nos alegra enormemente que consideres la Universidad Tecnológica del Caribe Oriental (UTECO) como el lugar donde forjarás tu futuro.
    En UTECO, no solo te ofrecemos una educación superior de calidad, sino una experiencia transformadora que te preparará para enfrentar y
    superar cualquier desafío en el mundo moderno.</p>
    <br />


<img src="jodyhongfilms-sI1mbxJFFpU-unsplash.jpg" alt="Uteco biblioteca" width="150" height="200" />
<br />


<h2>¿Por qué elegir UTECO?</h2>
<p>Nuestros programas académicos están diseñados para brindarte una formación integral y avanzada.
    Ofrecemos una amplia gama de carreras que van desde la ingeniería, las ciencias de la salud, la administración de empresas hasta las ciencias
    sociales y humanidades. Nuestros planes de estudio están constantemente actualizados para reflejar las últimas tendencias y demandas del mercado 
    laboral.</p>
    <br />


<img src="contaAdmin.jpg" alt="Uteco biblioteca" width="210" height="225" />
<p>En UTECO, estamos a la vanguardia de la tecnología. Nuestro campus cuenta con instalaciones de última generación, incluyendo laboratorios de alta
    tecnología y centros de investigación. Aquí, tendrás la oportunidad de trabajar con equipos modernos y participar en proyectos innovadores que te 
    prepararán para ser un profesional altamente competitivo.</p>